@import url('https://fonts.googleapis.com/css?family=Nunito');
@import './variables';

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-base;
  color: #212529;
  text-align: left;
  background-color: $body-bg;
}
a {
  text-decoration: none;
}
h2, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.text-bold {
  font-weight: 600;
}
.text-light {
  color: $light!important;
}
.bg-white {
  background-color: $white;
}
.bg-red {
  background-color: $red!important;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}
.w-50 {
  width: 50%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.form-row {
  margin-bottom: 10px;
}
.d-flex {
  display: flex;
}
#header {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: $blue;
  height: $header-height;
}
