@import url(https://fonts.googleapis.com/css?family=Nunito);*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f8fafc;
}

a {
  text-decoration: none;
}

h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-bold {
  font-weight: 600;
}

.text-light {
  color: #f8f9fa !important;
}

.bg-white {
  background-color: #fff;
}

.bg-red {
  background-color: #e3342f !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.w-50 {
  width: 50%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.form-row {
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
}

#header {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #3490dc;
  height: 60px;
}

.suggest-wrap {
  flex-wrap: wrap;
  position: relative;
}

.suggest {
  top: 72px;
  z-index: 2;
  width: 100%;
  display: none;
  position: absolute;
}

.suggest.show {
  display: block;
}

.pre-space {
  height: 10px;
}

.list-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f8f9fa;
  display: block;
  transform: translateX(10px);
}

.option-list {
  position: relative;
  background-color: #f8f9fa;
  box-shadow: 0px 3px 3px #666;
  max-height: 300px;
  overflow-y: scroll;
}

.option-list .option {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  color: #343a40;
}

.option-list .option:hover {
  background-color: #3490dcab;
  color: #f8f9fa;
}

#search-form {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #3490dc, #3490dc66);
  padding: 10px;
}

#search-form form {
  width: 100%;
  max-width: 600px;
}

#search-form .form-row {
  display: flex;
}

#search-form input,
#search-form select,
#search-form button {
  height: 72px;
  border: none;
  outline: none;
  width: 100%;
  padding: 0px 10px;
  background-color: #fff;
  font-weight: 600;
  font-size: 15px;
  color: #212529;
}

#search-form input:focus,
#search-form select:focus,
#search-form button:focus {
  box-shadow: 0px 0px 3px #3490dc;
}

