@import 'variables';

#logout {
  display: none;
}
.modal-backdrop {
  background-color: #00000030!important;
}
.pagination {
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 0px;
  background-color: var(--light);
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}
.pagination li a {
  padding: 8px 15px;
  margin-right: 10px;
  color: var(--info);
  font-weight: 600;
}
.pagination li.active a {
  border: 0px;
  border-bottom: 2px solid var(--blue);
}
.vm--container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.vm--modal {
  left: unset!important;
  height: auto!important;
  top: unset!important;
  max-width: 100%;
}
.vm--container.alert-box {
  align-items: flex-start!important;
}
.vm--container.top0 .vm--modal {
  top: 0px!important;
}
.records-list {
  background-color: var(--white);
  box-shadow: 0px 2px 20px #21252921;
  text-align: center;
  border-top: 3px solid var(--success);
  width: 100%;
  margin-bottom: 15px;
}
.records-list th {
  font-weight: 600;
  padding: 15px 0px;
}
.records-list td {
  padding: 10px;
}
.holder, .input {
  display: block;
  width: 100%;
  border: none;
  padding: 8px 15px;
  outline: unset!important;
  background-color: transparent;
}
.holder svg {
  width: 30px;
	height: 30px;
}
.input {
  border-bottom: 2px solid #ccc;
  transition: .3s;
}
.input:focus {
  border-bottom: 2px solid var(--blue);
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
.confirm-box {
  width: 360px!important;
  max-width: 100%!important;
}
.content-html img {
  max-width: 100%!important;
}
.text-bold {
  font-weight: 600;
}
header {
  padding: $header-height;
  padding: 10px;
  display: flex;
  align-items: center;
}
.search-form {
  min-height: calc(100vh - #{$header-height});
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #3490dc, #3490dc66);
  padding: 15px;
}
$search-input-height: 72px;
.search-input {
  height: $search-input-height;
  border: none;
  outline: none;
  width: 100%;
  padding: 0px 10px;
  background-color: var(--white);
  font-weight: 600;
  font-size: 15px;
  color: #212529;
}
[suggests] {
  z-index: 2;
  width: 100%;
  position: relative;
  box-shadow: 0px 3px 3px #999;
  > .blank {
    height: 10px;
    background-color: transparent;
    > .triangle {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #f8f9fa;
      display: block;
      transform: translateX(10px);
    }
  }
}
.option-list {
  position: absolute;
  background-color: $light;
  box-shadow: 0px 3px 3px #aaa;
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
  .option {
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    color: $dark;
  }
  .option:hover {
    background-color: #3490dcab;
    color: $light;
  }
}
.select {
  z-index: 2;
  width: 100%;
  position: relative;
  > .selected {
    padding: 10px;
    font-weight: 600;
    background-color: var(--light);
    box-shadow: 0px 0px 3px #aaa;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
}
[search-item] {
  .image-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0px 3px;
    > img {
      border-radius: 6px;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .image-contain:hover {
    background-color: #f0f0f0;
  }
  .image-contain.primary {
    max-height: 100px;
  }
  .image-contain.secondary {
    min-height: 40px;
    max-height: 41px;
  }
  @media (min-width: 768px) {
    .image-contain.primary {
      max-height: 150px;
    }
    .image-contain.secondary {
      max-height: 80px;
    }
  }
  @media (min-width: 992px) {
    .image-contain.primary {
      max-height: 200px;
    }
    .image-contain.secondary {
      max-height: 100px;
    }
  }
  .rate {
    display: flex;
    font-size: small;
    .avg {
      padding: 0px 9px;
      background-color: $red;
      font-weight: 600;
      color: $light;
      border-radius: 5px;
    }
    .count {
      margin-left: auto;
    }
  }
  .address {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 6px;
  }
}
.search-btn {
  border: none;
  background-color: $red;
  color: $light;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none!important;
  position: fixed;
  right: 5px;
  bottom: 100px;
}
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212529a8;
  color: $light;
  transition: .3s;
  svg {
    fill: $light;
    height: 24px;
    width: 24px;
  }
}
.cover:hover {
  background-color: #212529cc;
}
#search-toolbar {
  .select {
    max-width: 200px;
  }
}
.room-images {
  .contain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    &.primary {
      height: 400px;
    }
    &.secondary {
      height: 120px;
    }
    @media (min-width: 768px) {
      &.secondary {
        height: 280px;
      }
    }
    &.tertiary {
      height: 120px;
    }
    > img {
      transition: .3s;
      &:hover {
        transform: scale(1.05);
        transform-origin: center;
      }
    }
  }
}
.criterias {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
    transition: .3s;
    &:hover {
      fill: $blue;
      width: 28px;
      height: 28px;
    }
  }
}
$side-search-header: 240px;
[side-search] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-height: calc(100% + 33px);
  background-color: $light;
  z-index: 12;
  transition: .3s;
  transform: translateX(-100%);
  &.show {
    transform: translateX(0%);
    &.focus {
      transform: translate(0px, -33px);
    }
  }
  @media(min-width: 992px) {
    box-shadow: 2px 0px 3px #aaa;
    width: 360px;
  }
  button[close] {
    color: $light;
    font-weight: 600;
    border: none;
    background-color: transparent;
    outline: none!important;
    padding: 2px 10px;
    margin-bottom: 6px;
    margin-left: auto;
  }
  form {
    background-color: $blue;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    [search-box] {
      display: flex;
      width: 100%;
      background-color: $white;
      input {
        width: 100%;
        border: none;
        height: 40px;
        border-radius: 0px;
        outline: none;
        padding: 0px 10px;
        background-color: transparent;
      }
      button {
        border: none;
        background-color: transparent;
        color: var(--gray);
        min-width: 36px;
      }
    }
  }
  .suggest {
    cursor: pointer;
    padding: 8px 10px;
    color: $gray;
    border-bottom: 1px solid #cccccc;
    .fas {
      color: #ccc;
    }
  }
}
[side-menu] {
  width: 100%;
  background-color: $light;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 12;
  min-height: 100%;
  transform: translateX(100%);
  transition: .3s;
  @media(min-width: 992px) {
    top: 59px;
    width: 300px;
  }
  &.show {
    transform: translateX(0);
    box-shadow: -2px 1px 3px #6c757d;
  }
  header {
    height: 150px;
    align-items: flex-end;
    color: $gray;
    font-weight: 600;
  }
  main {
    [item] {
      color: $gray;
      padding: 12px 10px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none!important;
      display: block;
    }
  }
  .avatar-contain {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border: 3px solid $light;
    box-shadow: 0px 0px 3px $dark;
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 50%;
    }
  }
}
[nav-bar] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 12;
  background-color: $white;
  @media(min-width: 992px) {
    position: sticky;
    top: 0px;
  }
  .logo {
    width: 25%;
    padding: 10px;
    @media(min-width: 992px) {
      padding: 0px 10px;
    }
  }
  .tools {
    display: flex;
    padding: 5px 10px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 12;
    background-color: $white;
    box-shadow: 0px -3px 3px #21252924;
    @media(min-width: 992px) {
      position: relative;
      top: 0px;
      width: 50%;
      box-shadow: unset;
    }
    .tool {
      display: block;
      text-align: center;
      padding: 12px 0px;
      cursor: pointer;
    }
  }
  .user {
    margin-left: auto;
    padding-right: 10px;
    img {
      width: 30px;
      height: 30px;
    }
    .btn-auth {
      display: none;
      color: $gray;
    }
    .btn {
      font-weight: 600;
      font-size: small!important;
    }
    @media(min-width: 992px) {
      margin-left: unset;
      display: flex;
      width: 25%;
      align-items: center;
      justify-content: flex-end;
      font-weight: 600;
      color: $gray;
      .btn-auth {
        display: inline-block;
      }
    }
  }
  svg {
    width: 24px;
    height: 24px;
    fill: $gray;
  }
}
[review-contain] {
  width: 400px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 40px;
  [review-form] {
    width: 100%;
    padding: 15px;
    box-shadow: 0px 3px 3px #ccc;
    i.fa-star {
      padding-left: 6px;
      padding-right: 6px;
      transition: .2s;
      color: #cccccc;
    }
  }
}
[header-bar] {
  padding: 8px 12px;
  display: flex;
  .rent-logo {
    font-weight: 600;
    color: $blue;
    text-decoration: none!important;
    font-size: x-large;
  }
  .btn-auth {
    color: $gray;
    font-weight: 600;
  }
}
[list-item] {
  background-color: $white;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  display: flex;
  [img-wrap] {
    display: flex;
    justify-content: center;
    min-width: 100px;
    max-width: 100px;
    @media(min-width: 768px) {
      min-width: 200px;
      max-width: 200px;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  [tool-wrap] {
    min-width: 100px;
    max-width: 100px;
    padding-left: 5px;
    margin-left: auto;
    [tool] {
      width: 100%;
      border: none;
      outline: none!important;
      padding: 5px;
      border-radius: 6px;
      background-color: transparent;
      transition: .3s;
      font-size: 12px;
      text-align: left;
      display: block;
      &:hover {
        box-shadow: 0px 0px 3px;
      }
      &:focus {
        box-shadow: 0px 0px 3px;
      }
    }
  }
}
[owner-bottom-nav] {
  position: fixed;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: 1030;
  margin: auto;
  font-size: small;
  padding: 12px 10px;
  border-radius: 6px;
  width: 500px;
  max-width: calc(100% - 10px);
  background-color: $white;
  box-shadow: 0px 0px 3px;
}
[detail-form] {
  margin-right: auto;
  margin-left: auto;
  background-color: $white;
  border-radius: 8px;
  padding: 15px;
}
[note] {
  padding: 10px;
  border-radius: 6px;
  color: $light;
  background-color: $blue;
  position: absolute;
  top: 28px;
  box-shadow: 0px 0px 2px #cdcdcd;
  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    top: -10px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid $blue;
  }
}